In [1]:
import pandas as pd
import numpy as np

In [13]:
data = [[1, 'Arihant', 'M', 92, 87, 84],
        [2, 'Arya', 'M', 86, 79, 85],
        [3, 'Sanjay', 'M', 84, 80,87],
        [4, 'Sahaj', 'M', 86, 87, 84],
        [5, 'Anshul', 'M', 33, 55, 45],
        [6, 'Anish', 'M', 86, 37, 70],
        [7, 'Aryaman', 'M', 86, 83, 76],
        [8, 'Apoorv', 'M', 56, 32, 46],
        [9, 'Shiv', 'M', 23, 37, 45],
        [10, 'Yash', 'M', 60, 68, 73]]

df = pd.DataFrame(data, columns = ['RollNo', 'Name', 'Gender', 'Marks1', 'Marks2', 'Marks3'])
print(data)

[[1, 'Arihant', 'M', 92, 87, 84], [2, 'Arya', 'M', 86, 79, 85], [3, 'Sanjay', 'M', 84, 80, 87], [4, 'Sahaj', 'M', 86, 87, 84], [5, 'Anshul', 'M', 33, 55, 45], [6, 'Anish', 'M', 86, 37, 70], [7, 'Aryaman', 'M', 86, 83, 76], [8, 'Apoorv', 'M', 56, 32, 46], [9, 'Shiv', 'M', 23, 37, 45], [10, 'Yash', 'M', 60, 68, 73]]

In [3]:
df['TotalMarks'] = df['Marks1'] + df['Marks2'] + df['Marks3']

In [4]:
df['Marks1'].min()

23

In [14]:
df['Marks2'].max()

87

In [6]:
df['Marks3'].mean()

69.5

In [7]:
df.loc[df['TotalMarks'] == df['TotalMarks'].max(), 'Name']

0    Arihant
Name: Name, dtype: object

In [8]:
len(df[df['Marks2'] < 40])

3